pydantic<2.0.0
torch
requests
beautifulsoup4
nltk
transformers
flair
vaderSentiment
sentence-transformers
keybert
rake-nltk
gtts
scikit-learn
fastapi
uvicorn
deep-translator
gradio==3.41.2
